@model List<ClipperOS.Models.ProductModel>

@{
    ViewData["Title"] = "Produtos";
}

<h2>Lista de Produtos</h2>

@if (!Model.Any())
{
    <p>Nenhum produto cadastrado.</p>
}
else
{
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Categoria</th>
            <th>Preço</th>
            <th>Código de Barras</th>
            <th>Estoque</th>
            <th>Data de Criação</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Brand</td>
                <td>@product.Model</td>
                <td>@product.Category</td>
                <td>@product.Price.ToString("C")</td>
                <td>@product.CodeBar</td>
                <td>@product.Stock</td>
                <td>@product.Created.ToString("dd/MM/yyyy HH:mm")</td>
            </tr>
        }
        </tbody>
    </table>
}